<div class="row">
  <div class="col">

    <h5 class="text-secondary">Products</h5>

    <div *ngFor="let product of products">
      <h5 class="text-primary">
        <a [title]="product.name + ' details'">
          {{ product.name }}
        </a>
      </h5>

      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>

      <button class="btn btn-primary py-1 px-3 mb-1" (click)="share()">
        Share
      </button>

      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>
    </div>
  </div>
</div>